# Entornos virtuales y variables de entorno
venv/
.venv/
env/
.env

# Playwright y temporales
temp/
test-results/

# Python (caché)
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Editores y SO
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
